*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
#main img{
    width: 400px;
    position: absolute;
    z-index: 99;
}
#scroll-bar1{
    overflow-x: auto;
   width: 100%;
    position: absolute;
    top: 15%;
    white-space: nowrap;    
    display: flex;
    flex-direction: column;
    display: block;
}
#scroll-bar2{
    overflow-x: auto;
   width: 100%;
    position: absolute;
    top: 38%;
    white-space: nowrap;    
    display: flex;
    flex-direction: column;
    display: block;
}
#scroll-bar3{
    overflow-x: auto;
   width: 100%;
    position: absolute;
    top: 64%;
    white-space: nowrap;    
    display: flex;
    flex-direction: column;
    display: block;
}
h1{
    display: inline;
    font-size: 150px;
    font-family: roboto;
    letter-spacing: 3px;
    margin-left: 35px;
}
::-webkit-scrollbar{
    display: none;
}
#scroll-bar2 h1{
   -webkit-text-stroke: 2px;
   -webkit-text-stroke-color: black;
   color: transparent;
}